{% extends 'base.html.twig' %}

{% block body %}
    {# commentaire twig #}

    {# initialise une variable et lui affecte une valeur #}
    {% set accueil="Page d'accueil" %}

    {# affichage de la valeur de la variable #}
    <h1>{{ accueil }}</h1>
{% endblock %}

{% block title %}
{{ parent() }} | Home
{% endblock %}