{% extends 'base.html.twig' %}

{% block title %}
 todo : afficher le titre de la chose à faire | {{ parent() }}
{% endblock %}

{% block body %}
<h2> todo: le titre de la chose à faire</h2>

    {# todo : afficher toutes les infos de la chose à faire #}
{% endblock %}

