{% extends 'base.html.twig' %}

{% block body %}
    <section>
        todo: afficher la liste des choses à faire
    </section>
{% endblock %}

{% block title %}
    The best things to do | {{ parent() }}
{% endblock %}

