<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="test">Test</a></li>
        <li><a href="{{ path('bucketList_list') }}" title="All things">Things</a></li>
        <li><a href="{{ path('bucketList_create') }}" title="Create a new thing">Create</a></li>
    </ul>
</nav>
